<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Company</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
    
    <%- include('./menu.ejs'); %>

    <br>
    <br>
    <br>
    <br>
    
    <section>
        <div class="imagem1">
            <img src="produtos.jpg" width="100%" height="500">
        </div>
    </section>
    
    <br>
    <br>

    <section> 
        <center>
            <a class="titulo">Beauty Company</a>
            <br>
            <a class="subtitulo">Você na sua melhor versão</a>
            <br>
            <br>
            <p class="texto1">O sistema que escolhemos desenvolver para o projeto é um site de <b>vendas de cosméticos</b> e <b>produtos de beleza</b>, chamado Beauty Company. O objetivo principal do site é oferecer um <b><font color="#fa447B">design minimalista</font></b> que facilite a navegação entre as páginas e o entendimento do usuário sobre a proposta da marca. </p>
            <br>
            <p class="texto1">As funcionalidades do sistema e os seus diferenciais vão ser uma <b>equipe de especialistas</b> disponível para consulta durante o horário comercial e um <b>plano mensal</b> a partir de uma assinatura onde o cliente paga um valor fixo mensal e recebe em sua casa uma <b><font color="#fa447B">caixa de produtos específicos</font></b> para seu tipo de pele, cabelo, entre outros.</p>
        </center>
    </section>

    <br>
    <br>

    <section>
        <center>
             <a class="subtitulo2">Skincare para todos</a>
        </center>
            <br>
            <div class="imagem2">
            <img src="foto.jpg" width="750" height="250">
        <center>
            <p class="texto2">
                Além disso, o site vai contar com uma <b>página de venda de produtos</b> separadamente e também uma <b>página informativa</b> sobre a <b><font color="#fa447B">diferença entre os tipos de pele, cabelo, etc.</font></b>, para que os clientes possam se informar sobre o assunto antes de se consultar com os profissionais. Por fim, será implementado um espaço para que os usuários deixem seu <b>feedback</b> sobre a <b><font color="#fa447B">qualidade dos produtos</font></b> e do <b><font color="#fa447B">atendimento da marca</font></b>.
            </p>
        </center>
            </div>
    </section>

    <br>
    <br>

    <section>
        <center>
            <a class="subtitulo2">Empatia</a>
            <br>
            <br>
            <p class="texto1">
                Escolhemos desenvolver um site de cosméticos pois fazemos parte do <b>público-alvo</b> de consumo desse mercado. Dessa forma, criamos o site com as funcionalidades que <b><font color="#fa447B">gostaríamos de poder usufruir</font></b> caso fossemos os consumidores.
            </p>
            <br>
            <p class="texto1">
                Um dos nossos propósitos é oferecer dermocosméticos com o <b><font color="#fa447B">melhor custo-benefício do mercado</font></b>, capazes de viabilizar os cuidados com a pele, que muitas vezes não são nada <b>acessíveis</b>.
            </p>
        </center>
            <br>
    </section>

    <br>
    <br>
    
    <%- include('./rodape.ejs'); %>

</body>
</html>