<section>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
              <a class="subtitulo3">Beauty Company</a>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Serviços</h3>
                </li>
                <li>
                    <a href="/" class="footer-link">Home</a>
                </li>
                <li>
                    <a href="/form_cliente" class="footer-link">Cadastre-se</a>
                </li>
                <li>
                    <a href="/form_especialista" class="footer-link">Trabalhe Conosco</a>
                </li>
                <li>
                    <a href="/lista_produto" class="footer-link">Produtos</a>
                </li>
                <li>
                    <a href="/entrar" class="footer-link">Entrar</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Produtos</h3>
                </li>
                <li>
                    <a href="/lista_produto" class="footer-link">Skincare</a>
                </li>
                <li>
                    <a href="/lista_produto" class="footer-link">Cabelo</a>
                </li>
                <li>
                    <a href="/lista_produto" class="footer-link">Unhas</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Adicione o seu e-mail para receber nossas novidades
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2023 all rights reserved
        </div>
    </footer>
</section>