<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>Salvar</title>
</head>
<body>
    
    <%- include('../menu.ejs'); %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <section>
        <p class="subtitulo4">Informações salvas!</p>
        <br>
        <hr>
        <br>
        <p class="texto3">
           <%= msg%>
        </p>
        <br>
        <button class="button1"><a href="/lista_cliente">Visualizar lista de clientes</a></button>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../rodape.ejs'); %>
    
</body>
</html>